Flask==0.12.2
SQLAlchemy==1.1.10
Flask-SQLAlchemy==2.2
Flask-Migrate==2.0.4
Flask-Bcrypt==0.7.1
Flask-Classful==0.13.1
Flask-Cors==3.0.2
Flask-Mail==0.9.1
gevent==1.2.1
marshmallow==2.13.5
marshmallow-sqlalchemy==0.13.1
webargs==1.7.0
