Flask==0.12
SQLAlchemy==1.1.5
Flask-SQLAlchemy==2.1
Flask-Migrate==2.0.3
Flask-Bcrypt==0.7.1
Flask-Classful==0.13.1
Flask-Cors==3.0.2
Flask-Mail==0.9.1
gevent==1.2.1
marshmallow==2.13.0
marshmallow-sqlalchemy==0.12.1
webargs==1.5.3
